* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: black;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

h1,
h2,
h3 {
    font-family: 'Roboto';
    font-style: normal;
}

h2,
h3,
h5 {
    font-weight: 600;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #829C5F;
}

h2 {
    font-size: 36px;
    color: #4F692F;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: 500;
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: #353F28;
}


/* navbar */

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    background: #FFFFFF;
    width: 100%;

}


/* logo */

.logo {
    display: flex;
}

.logo-desc,
.logo-footer {
    font-weight: 600;
    font-size: 22px;
    color: #4F692F;
    margin-top: 3px;
    text-decoration: none;
    margin-left: -15px;
}

.logo-footer {
    margin-left: 0px;
    margin-top: 125px;
}

.nav-item {
    margin-top: 7px;
    margin-left: 15px;
}

.logo-desc:hover {
    color: #829C5F;
}

.identity,
th,
.error-desc {
    color: #829C5F;
}


/* landing page */

.heroBlock {
    padding: 150px 0;
    height: 100vh;
    margin-left: 70px;
    background-image: url('../../public/images/banner.png');
    background-repeat: no-repeat;
    background-position: right bottom 150%;
}

.heroBlock h1 {
    width: 500px;
    height: 90px;
}

.heroBlock p {
    width: 400px;
    height: 44px;
    margin-top: 75px;
}

.btn-primary,
.btn-outline-secondary,
.btn-success {
    border-color: #829C5F;
}

.btn-primary {
    --bs-btn-bg: #829C5F;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #829C5F;
    --bs-btn-hover-color: #829C5F;
    width: 178px;
    --bs-btn-border-color: #829C5F;
    --bs-btn-active-bg: #829C5F;
    --bs-btn-active-border-color: #829C5F;
}

.btn {
    --bs-btn-focus-box-shadow: #829C5F;
}

.btn-outline-secondary,
.btn-success {
    --bs-btn-color: #829C5F;
    --bs-btn-hover-bg: #829C5F;
    --bs-btn-hover-border-color: #829C5F;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: #829C5F;
    --bs-btn-active-bg: none;
}

.btn-success {
    --bs-btn-bg: none;
    width: 111px;
}


/* service */

#service {
    background: #F6EDD9;
    height: 100vh;
    padding-top: 65px;
    /* animation: geserKanan 1s; */
}

.service-section {
    margin: 0 auto;
    padding: 7%;
    align-items: center;
    width: 974px;
    height: 450px;
    background: rgba(130, 156, 95, 0.5);
    border-radius: 50px;
    animation: geserKanan 1s;

}

.service-desc-1 {
    height: 300px;
    width: 300px;
    background: #F6EDD9;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    flex: none;
    align-items: center;
    text-align: center;
    padding: 4%;
    margin-right: 142px;
}

#service h3 {
    padding-top: 5%;
}

#service h2 {
    padding-top: 35px;
}

.service-desc-2 {
    width: 368px;
    height: 96px;
}

.btn-service {
    margin-left: 190px;
}


/* benefit */

#benefit {
    padding: 60px 0;
    margin-left: 70px;
    background-image: url('../../public/images/banner2.png');
    background-repeat: no-repeat;
    background-position: right 105% bottom 100%;
}

.benefit-desc {
    margin-left: 600px;
    margin-bottom: 70px;
}

#benefit p {
    margin-left: 25px;
}

.benefit-heading {
    text-align: center;
    width: 514px;
    margin-bottom: 75px;
}

.services {
    display: flex;
    margin-top: 25px;
    margin-left: 50px;
}

.benefit-card {
    width: 1000px;
    height: 200px;
    background: radial-gradient(85.89% 2489.64% at 9.09% 24.86%, #FBFBEE 8.22%, #F6EDD9 98.08%);
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
}

.benefit .services,
.unique {
    font-size: 18px;
}

.benefit-card .quotes1,
.benefit-card .quotes2 {
    text-align: center;
    color: #4F692F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 2%;
    margin: 0 auto;
    font-style: italic;
    font-size: 32px;
}

.benefit-card .quotes2 {
    margin-left: 415px;
}


/* review */

#review {
    height: 100vh;
    padding-top: 65px;
    text-align: center;
}

#review p {
    width: 468px;
    height: 46px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.carousel-control-prev-icon {
    color: #353F28;
}

.review-desc {
    text-align: center;
    align-items: center;
    background: #829C5F;
    box-shadow: 0px 10px 10px #C4C4C4;
    border-radius: 300px 300px 0px 0px;
    width: 250px;
    height: 350px;
    margin: 0 auto;
    flex: none;
}

.review-desc img {
    padding: 5%;
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#review .review-desc h3,
#review .review-desc p {
    color: #F6FBEE;
}

#review .review-desc p {
    width: 200px;
    height: 72px;
}

.fa-angle-left,
.fa-angle-right {
    color: #829C5F;
    left: 700px;
}


/* footer */

footer {
    padding: 60px 0 15px;
}

.socials {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 35px;
}

.socials li {
    padding-left: 0;
    margin-right: 15px;
}

.socials a {
    color: #4F692F;
}

.socials a:hover {
    color: #829C5F;
}

#footer .goTop:hover {
    opacity: 0.7;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer hr {
    margin-bottom: 25px;
    border-top: 3px solid #d9d9d9;
}

.copy {
    color: #829C5F;
    margin-top: 75px;
}


/* login dan sign in */

#login {
    background: url('../../public/images/login.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 100vh;
}

#login h1 {
    padding-top: 50px;
}

#login a {
    text-decoration: none;
}

.submit-desc {
    margin-top: 10px;
    margin-left: 20px;
}

#login input {
    width: 300px;
    /* height: 30px; */
    margin-bottom: 25px;
}


/* consultation */

#consultation {
    background-image: url('../../public/images/banner3.png');
    background-repeat: no-repeat;
    background-position: right 5% bottom;
    padding: 100px 0;
    height: 100vh;
    margin-left: 70px;
}

#consultation h1 {
    margin-top: 50px;
}

#consultation p {
    width: 521px;
    height: 158px;
    margin-bottom: 0;
}


/* faq */

#faq {
    width: 900px;
    height: 600px;
    background: #F6EDD9;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.faq-heading {
    text-align: center;
    margin-bottom: 35px;
    color: #829C5F;
}

.accordion {
    --bs-accordion-btn-focus-border-color: #829C5F;
    --bs-accordion-active-color: #829C5F;
    --bs-accordion-btn-focus-box-shadow: rgba(130, 156, 95, 0.3);
}


/* breadcrumb */

.breadcrumb-item a,
.breadcrumb-item {
    text-decoration: none;
    color: #829C5F;
}


/* detail clinic */

#detailClinic {
    padding: 100px 0;
    height: 100vh;
    margin-left: 70px;
    margin-bottom: 75px;
}

.detailClinic-desc {
    width: 1100px;
    height: 1200px;
    background: #F6EDD9;
    border-radius: 10px;
    padding: 50px;
}

.detailClinic-ket {
    margin-top: 25px;
    width: 691px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 35px;
}

.detailClinic-footer {
    padding-top: 850px;
}

.btn-detail {
    width: 260px;
    height: 40px;
    margin-top: 25px;
}

.btn-danger {
    --bs-btn-bg: none;
    --bs-btn-color: #dc3545;
}

.form-select {
    margin-top: 18px;
}


/* tentang kami */

#tentangKami {
    padding-top: 100px;
    margin-left: 70px;
    background-image: url('../../public/images/banner4.png');
    background-repeat: no-repeat;
    background-position: right bottom 85%;
}

.tentangKami-desc {
    width: 569px;
    height: 295px;
    margin-bottom: 150px;
}

#tentangKami h3 {
    color: #4F692F;
}

.tentangKami-box {
    width: 1000px;
    height: 450px;
    background: #F6EDD9;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 5%;
    margin: 0 auto;
}

.tentangKami-box h2 {
    margin-bottom: 35px;
}

.tentangKami-box img {
    margin-bottom: 15px;
}


/* form */

#formPendaftaran,
#riwayatKonsultasi,
#detailAdmin {
    padding: 100px 0;
    /* height: 100vh; */
    margin-left: 70px;
}

.formPendaftaran-desc {
    height: fit-content;
    background: #F6EDD9;
    border-radius: 10px;
    padding: 6%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-right: 30px;
}

#formPendaftaran ul li {
    list-style: none;
    text-decoration: none;
}

.btn-Form,
.btn-Form2,
.btn-Bayar {
    width: 275.48px;
    margin-top: 50px;
}

.btn-Form2 {
    margin-top: 25px;
    margin-left: 725px;
}

.clinic-container {
    flex: 0;
}

.clinic-box,
.riwayat-box {
    width: 296px;
    height: 309px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 3%;
}

.clinic-box h4 {
    margin-bottom: 20px;
}

.clinic-box p {
    margin-bottom: 0;
}

.clinic-desc {
    font-size: 12px;
    color: #4F692F;
    font-weight: 700;
}

.buktiBayar {
    width: 250px;
    text-align: center;
    margin-top: 25px;
}

.clinic-box2 {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 2%;
    flex: 0;
}

.logo-bca {
    flex: 0;
}

.unggahBayar {
    text-align: center;
    align-items: center;
}

.btn-Bayar {
    margin-top: 160px;
}

.bold {
    font-weight: 700;
}

.top,
.clinic-box h4 {
    margin-top: 15px;
}

.formPendaftaran2 {
    justify-content: space-around;
}

.bca-container {
    margin-top: 45px;
    align-items: center;
}


/* form 3 */

.clinic-box3 {
    width: 565px;
    height: 425px;
    background: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 5%;
}

.clinic-box3 h3 {
    margin-bottom: 25px;
}

.fa-clock {
    color: #829C5F;
    margin-bottom: 25px;
}

.btn-Selesai {
    margin-top: 50px;
    width: 200px;
}


/* riwayat konsultasi */

#riwayatKonsultasi,
#detailAdmin {
    margin-right: 30px;
}

.riwayat-box {
    box-shadow: 0px 6px 4px rgba(37, 42, 49, 0.16);
    height: fit-content;
    /* height: 219px; */
    margin-right: 50px;
    width: fit-content;
}

.riwayat-box img {
    width: 150px;
}

#riwayatKonsultasi .row>* {
    max-width: fit-content;
}

table {
    align-items: center;
    text-align: center;
}

tr {
    width: 300%;
}

td li {
    list-style: none;
}

.fa-circle {
    color: red;
}

.green {
    color: green;
}

.admin-box {
    border: 2px solid #829C5F;
    border-radius: 10px;
    width: fit-content;
    padding: 5%;
}

.riwayat-heading {
    width: 600px;
}

.modal-content {
    margin-top: 100px;
}

.form-check {
    text-align: left;
}

.center {
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.btn-Riwayat {
    margin-top: 15px;
    width: 90px;
    height: 25px;
    padding: 0%;
}

#loginAlert {
    width: 350px;
    height: 40px;
    padding-top: 7px;
    border: 0;
}

#invoiceAlert {
    width: 100%;
}


/* detail admin */

#detailAdmin .riwayat-box {
    margin: 0 auto;
}


/* image */

#invoice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dropdown,
.masuk-style {
    border-color: #829C5F;
    background-color: #829C5F;
    padding: 0.8%;
    border-radius: 10px;
    color: white;
}

.masuk-style {
    padding: 20%;
    text-decoration: none;
}

.masuk-style:hover {
    color: white;
    background-color: #829C5F;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #829C5F;
    --bs-dropdown-link-active-bg: #829C5F;
    --bs-dropdown-link-hover-color: white;
}

.nav-item:hover {
    background-color: #829C5F;
    border-radius: 10px;
}

.dropdown {
    margin-right: 100px;
}

.error {
    background-image: url('../../public/images/404.png');
    background-repeat: no-repeat;
    background-position: right 15% bottom 65%;
    height: 100vh;
}

.error-heading {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 128px;
    padding-top: 150px;
    text-align: center;
    color: #4F692F;
}

.error-desc {
    margin-left: 200px;
}